@charset "UTF-8";
body {
  background-color: #f8f8ff;
}
h1 {
  color: #191970;
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  padding: 1.3rem;
  background-color: #4169e1;
}
p {
  padding: 1rem;
  background-color: #e0ffff;
  font-size: 1rem;
}
nav {
  border-width: medium;
  border-style: dotted;
  background-color: #e0ffff;
  border-color: #4169e1;
}
.item {
  background: #0bd;
  color: #fff;
  margin: 10px;
  padding: 10px;
}
.container {
  display: flex;
  justify-content: space-around;
  height: 30vh;
  align-items: center;
}
#grid {
  display: grid;
}